@model PostIndexViewModel
@{
    ViewData["Title"] = "Pending Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Pending Work</h1>
<hr />
@if (Model.CreatedPosts != null && Model.CreatedPosts.Count > 0)
{
    <div class="row">
        <div class="col-md">
            <h3>Created Posts</h3>
        </div>
    </div>
    <div class="accordion" id="createdPostAccordion">
        @foreach (var cp in Model.CreatedPosts)
        {
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#createdPost-@cp.Id" aria-expanded="false" aria-controls="createdPost-@cp.Id">
                        @cp.Title
                    </button>
                </div>
                <div id="createdPost-@cp.Id" class="collapse" aria-labelledby="@cp.Id" data-parent="#createdPostAccordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                @cp.Content
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md">
                                <a class="nav-link float-right" asp-action="Edit" asp-route-id="@cp.Id">Edit</a>
                                <input class="btn btn-primary float-right" type="button" onclick="location.href='@Url.Action("Publish", "Posts", new { id = cp.Id })'" value="Publish" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
}
@if (Model.PendingPosts != null && Model.PendingPosts.Count > 0)
{
    <div class="row">
        <div class="col-md">
            <h3>Pending Posts</h3>
        </div>
    </div>
    <div class="accordion" id="pendingPostAccordion">
        @foreach (var pp in Model.PendingPosts)
        {
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pendingPost-@pp.Id" aria-expanded="false" aria-controls="pendingPost-@pp.Id">
                        @pp.Title
                    </button>
                </div>
                <div id="pendingPost-@pp.Id" class="collapse" aria-labelledby="@pp.Id" data-parent="#pendingPostAccordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                @pp.Content
                            </div>
                        </div>
                        <hr/>
                        @if (User.IsInRole("Editor"))
                        {
                            <div class="row">
                                <div class="col-md">
                                    <input class="btn btn-danger float-right" type="button" onclick="location.href='@Url.Action("Remove", "Posts", new { id = pp.Id })'" value="Delete" />
                                    <input class="btn btn-warning float-right button-action-margin" type="button" onclick="location.href='@Url.Action("Reject", "Posts", new { id = pp.Id })'" value="Reject" />
                                    <input class="btn btn-primary float-right button-action-margin" type="button" onclick="location.href='@Url.Action("Approve", "Posts", new { id = pp.Id })'" value="Approve" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
}
@if (Model.RejectedPosts != null && Model.RejectedPosts.Count > 0)
{
    <div class="row">
        <div class="col-md">
            <h3>Rejected Posts</h3>
        </div>
    </div>
    <div class="accordion" id="rejectedPostAccordion">
        @foreach (var rp in Model.RejectedPosts)
        {
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#rejectedPost-@rp.Id" aria-expanded="false" aria-controls="rejectedPost-@rp.Id">
                        @rp.Title
                    </button>
                </div>
                <div id="rejectedPost-@rp.Id" class="collapse" aria-labelledby="@rp.Id" data-parent="#rejectedPostAccordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                @rp.Content
                            </div>
                        </div>
                        <hr />
                        @if (User.IsInRole("Editor"))
                        {
                            <div class="row">
                                <div class="col-md">
                                    <input class="btn btn-danger float-right" type="button" onclick="location.href='@Url.Action("Delete", "Posts", new { id = rp.Id })'" value="Delete" />
                                    <input class="btn btn-primary float-right button-action-margin" type="button" onclick="location.href='@Url.Action("Approve", "Posts", new { id = rp.Id })'" value="Approve" />
                                </div>
                            </div>
                        }
                        @if (User.IsInRole("Writer"))
                        {
                            <div class="row">
                                <div class="col-md">
                                    <a class="nav-link float-right" asp-action="Edit" asp-route-id="@rp.Id">Edit</a>
                                    <input class="btn btn-primary float-right button-action-margin" type="button" onclick="location.href='@Url.Action("Publish", "Posts", new { id = rp.Id })'" value="Publish" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <br/>
}

